{% trans_default_domain translation_domain %}

<div class="center aligned">
    <div class="ui indicating tiny lotgd progress" data-value="{{ current }}" data-total="{{ goal }}">
        <div class="bar"></div>
        <div class="label">
            {% if useText %}
                {{ 'indicator.text'|trans|colorize }}
                {{ percent|format_percent_number({rounding_mode: 'floor', fraction_digit: 2}) }}%
                {{ current|format_currency(paypal_currency) ~ '/' ~ goal|format_currency(paypal_currency) }}
            {% endif %}
        </div>
    </div>
</div>
<p>&nbsp;</p>
